.Login{
    background-color: #131b29;
    border-radius: 20px;
    text-align: center;
    width:20%;
    height: 30em;
    position: fixed;
    transform: translate(80em, 10em);
    form{
        display: flex;
        flex-direction: column;
    }
    input[type=text]{
        border-radius: 10px;
        margin-top: 10px;
        font-size: 16px;
    }
    input[type=password]{
        border-radius: 10px;
        margin-top: 10px;
        font-size: 16px;
    }
    input[type=submit]{
        margin-top: 10px;
        font-size: 16px;
    }
}