/* Aba de fotos da página */
.fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
}

.bannerCard {
    overflow: hidden;
    height: 15em;
    width: 80em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.Pfp {
    position: absolute;
    transform: translate(-40em, 1em);
    border-radius: 10px;
    width: 10em;
    height: 10em;
    border: solid 1px white;
    z-index: 3;
}

/* Aba de nome do filme e comentários */
.Explaination {
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 30%;
    display: flex;
    margin: auto;
    transform: translateX(-4em);
    flex-direction: column;
    position: relative;
    margin-bottom: 70px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5); /* Adicionando fundo semitransparente */
}

.Explaination h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.Explaination p {
    font-size: 1rem;
    margin-bottom: 5px;
}


/* Seção de sessões de filmes */
.SessionController {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    position: relative;
}

.Sessions {
    background-color: #212f47;
    padding: 2em;
    width: 60%;
    max-width: 80%;
    height: auto;
    border-radius: 5px;
    color: white;
    margin: 1em;
    top: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Apenas a última sessão da lista terá um espaço extra */
.SessionController:last-of-type .Sessions {
    margin-bottom: 10em;
}

/* Botões personalizados */
.custom-button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #131b29;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s ease, box-shadow 0.3s;
}

.custom-button:hover {
    background-color: #444;
    border: 1px solid white;
    transform: scale(1.1);
}

.custom-button:focus {
    outline: none;
}

.custom-button:active {
    transform: scale(0.95);
}

/* Estilo geral para a barra de seleção de datas */
.daysBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;
}

/* Estilo dos botões de data */
.radio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    margin: 10px;
}

/* Estilo do botão de data */
.radio-wrapper button {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: #333;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

/* Efeito ao passar o mouse sobre o botão de data */
.radio-wrapper button:hover {
    background-color: #444;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Efeito quando o botão de data é clicado */
.radio-wrapper button:active {
    background-color: #333;
    color: #ffeb3b;
    border: 2px solid #ffeb3b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Estilo para o botão de data quando não está disponível */
.radio-wrapper button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
    color: #999;
    border: 2px solid #ccc;
}

/* Estilo para telas menores */
@media (max-width: 768px) {
    .Explaination {
        width: 80%;
        transform: translateX(0);
        padding: 15px;
    }

    .fotos .bannerCard {
        width: 100%;
        height: auto;
    }

    .SessionController {
        margin-bottom: 2em;
    }

    .Sessions {
        width: 90%;
        padding: 1.5em;
    }

    .daysBar {
        width: 90%;
    }

    .radio-wrapper button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .bannerCard {
        width: 100%;
        height: auto;
    }

    .Pfp {
        transform: translate(-30em, 0);
        width: 10em;
        height: 14em;
    }

    .Explaination {
        width: 90%;
        padding: 10px;
    }
}
